.full-page-container {
  max-width: 1280px;
  margin: 0 auto;
}

.title {
  justify-content: center;
  width: 334px;
  height: 79px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 80px;
  margin: 20px 0;
}

.logo {
  display: block;
  text-decoration: none;
  color: #000000;
}

a {
  text-decoration: none;
}

.black-logo-text {
  color: #000000;
}

.aqua-logo-text {
  color: rgb(76, 196, 233);
}

.navbar {
  display: flex;
  width: 1280px;
  flex-wrap: wrap;
  padding: 38px 0 48px 0;
  justify-content: center;
  flex-direction: column;
  height: 72px;
}
.navbar :last-child {
  text-align: left;
}

.navbar-titles {
  display: block;
  text-align: center;
  justify-content: space-between;
  color: #ffffff;
  background-color: #35444f;
  padding: 20px 30px;
  font-size: 24px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  height: 72px;
}

.navbar-link {
  color: #ffffff;
}

.navbar-titles:hover {
  display: block;
  height: 100%;
  background: #222f3a;
  color: #ffe;
}

.main-block {
  display: flex;
  padding: 150px 0 0 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.left-menu {
  margin-right: 52px;
}
/* 
} */

.left-menu-container {
  display: flex;
  flex-direction: column;
  width: 344px;
  border: 1px solid #000000;
}

.left-menu-item {
  list-style: none;
}

.left-menu-link {
  display: block;
  text-decoration: none;
  color: #485863;
  padding: 26px 0px 26px 44px;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
}

.left-menu-link:hover {
  background-color: #dbdbdb;
  padding-left: 70px;
}

.right-content {
  display: block;
}

.photo-container {
  display: block;
  width: 885px;
  height: 529px;
  border: 1px solid rgba(0, 0, 0, 1);
}

.photo {
  display: block;
  margin: 75px auto;
  transition: transform 1s;
}

.photo:hover {
  transform: scale(1.2);
}

.russian-text {
  width: 885px;
  margin-top: 37px;
  font-size: 18px;
  line-height: 24px;
}

.english-text {
  width: 885px;
  margin-top: 34px;
  font-size: 18px;
  line-height: 24px;
}

.footer-container {
  display: flex;
  margin-top: 54px;
  margin-bottom: 30px;
  height: 69px;
  font-family: "Roboto", sans-serif;
  background: rgba(99, 105, 110, 0.48);
  color: rgba(1, 1, 1, 1);
}

.footer-menu {
  display: flex;
  justify-content: left;
  margin-left: 40px;
  height: 69px;
  width: 928px;
}

.footer-menu-titles {
  display: flex;
  text-align: center;
  justify-content: space-around;
  font-size: 24px;
  padding: 20px 30px;
}

.footer-menu-link {
  text-decoration: none;
  color: rgba(1, 1, 1, 1);
}

.footer-menu-link:hover {
  text-decoration: underline;
  color: rgb(77, 156, 187);
}

.copyright {
  display: inline-block;
  text-align: center;
  padding: 26px 32px 26px 85px;
  margin-top: auto;
  font-size: 24px;
}
